/* 清除样式 */
* {
	margin: 0;
	padding: 0;
	color: inherit;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'JetBrains Mono',
		HYZhengYuan,
		'Fira Code',
		Menlo,
		'Ubuntu Mono',
		Consolas,
		Segoe UI Variable,
		Segoe UI,
		system-ui,
		ui-sans-serif,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji' !important;
}
a {
	text-decoration: none;
}
body {
	background-color: @bg-color;
	color: @text-color;
	transition: all 0.5s;
}

/* CSS的变量 */
:root.light-mode {
	--title--color: #000000; // 题目字体 @gray-800
	--text--color: #3f3f46; // 正文字体  zinc-700
	--bg--color: #fff; // 背景 手写的
}

:root.dark-mode {
	--title--color: #d4d4d8; // 题目字体 @zinc-300
	--text--color: #d4d4d8; // 正文字体  zinc-300
	--bg--color: #020617; // 背景 @slate-950
}

/* 颜色 */
@title-color: var(--title--color);
@text-color: var(--text--color);
@bg-color: var(--bg--color);

/* 屏幕尺寸 */
@ipad: 768px;
@iphone: 375px; // 暂时没用到
@max-ipad: ~'(max-width: 768px)';

/* 大屏模式 */
@big-title-1-size: 3rem;
@big-title-2-size: 2rem;
@big-title-3-size: 1.25rem;

/* 小屏模式 */
