// light模式
@light-title: #1f2937; // 题目字体 @gray-800
@light-text: #3f3f46; // 正文字体  zinc-700
@light-bg: #f1f2f4; // 背景 手写的

// 暗黑模式
@dark-text: #d4d4d8; // 字体 @zinc-300
@dark-title: #d4d4d8; // 标题 @zinc-300
@dark-bg: #020617; // 背景 @slate-950

// 屏幕尺寸
@ipad: 768px;
// 没用到
@iphone: 375px;  