.themeDark {
    --theme-color: #141414;
    --header-primary-color: #1a3750;
    --bg-content-default: #1a3750;
    --bg-theme-default: #13293b;
    --bg-left-color: #27415a;
}

.themeLight {
    --theme-color: #f4f4f4;
    --header-primary-color: #2670ff;
    --bg-content-default: #fff;
    --bg-theme-default: #f3f5f9;
    --bg-left-color: #eff3f4;
}
